<div class="byLocation">
	<%= form_tag near_clubs_path, method: :get, remote: true, class: 'club_location_finder' do %>

	<%= text_field_tag :location, nil, placeholder: "Enter an address", id: 'locationInput' %>

	<%= submit_tag :"Find" %>
	
	<% end %>
</div>

<%= yield %>