#map{style: "width: 500px; height: 500px"}

- content_for :scripts do 
	:javascript
		
		handler = Gmaps.build('Google', { builders: { Marker: RichMarkerBuilder } });

		var initialLocation;

		if(navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
				initialLocation = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);


				handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
					markers = handler.addMarkers(#{raw @club_locations.to_json});
					handler.bounds.extendWith(markers);
					handler.fitMapToBounds();
					handler.getMap().setCenter(initialLocation);
					});

				var latlng = new google.maps.LatLng(initialLocation.mb, initialLocation.nb);
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode({'latLng': latlng}, function(results, status) {
			    if (status == google.maps.GeocoderStatus.OK) {
			      $('.userAddress').append(results[1].address_components[3].long_name + ', ' + results[1].address_components[4].long_name + ', ' + results[1].address_components[2].long_name);
			      $('#location_hidden').val($('.userAddress').text());
			    }
			  });

				// $.get('/clubs/location')
				// $.ajax({
				// type: "POST",
				// dataType: "json",
				// url: '/clubs',
				// data: initialLocation
				// });

				// console.log(initialLocation);

			}, function() {
				console.log('Error')
			});
		}

		
		
 
