%div{style: "width: 800px;"}
	#map{style: "width: 800px; height: 400px;"}

- content_for :scripts do 
	:javascript
		handler = Gmaps.build('Google', { builders: { Marker: RichMarkerBuilder } });
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
			markers = handler.addMarkers(#{raw @club_locations.to_json});
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			});