
<section class='clubs-container' ng-controller="ClubCtrl">
  <hr id="mainLine">
  <div class="searchBoxContainer">
    <input ng-model="query" id="searchInput" placeholder="Search for clubs" autofocus /> 
  </div>
    <section class="clubs">
    <section class='club' ng-repeat="club in clubs | filter:query">
      <a id="clubName" ng-bind="club.name" href="{{club.path}}"></a>
        <br/>
        <article class="address" ng-bind="club.address"></article>
        <article class="post_code" ng-bind="club.post_code"></article>      
     
      <br/>

    </section>
  </section>
</section>