%h2 
	Clubs in London


= render 'clubs/clubajs'


%div{style: "width: 800px;"}
	#map{style: "width: 800px; height: 400px;"}

- content_for :scripts do 
	:javascript
		handler = Gmaps.build('Google', { builders: { Marker: InfoBoxBuilder} });
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
			markers = handler.addMarkers(#{raw @hash.to_json});
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			});