%nav.socialLogin
  = link_to player_omniauth_authorize_path(:facebook) do
    = image_tag 'facebook_login.svg'
  = link_to player_omniauth_authorize_path(:google_oauth2) do
    = image_tag 'google_login.svg'


/ player_omniauth_authorize_path(:facebook)
/ player_omniauth_authorize_path(:google_oauth2)
/ = render 'devise/sessions/new'