.player_row
	= render @players

/ - @players.delete(current_player)

/ - @players.each do |player|
/ 	.player_row
/ 		= link_to player_path(player) do
/ 			= image_tag player.image_url
/ 			%ul
/ 				= player.name 
/ 			%ul
/ 				Sex: 
/ 				= player.sex
/ 			%ul
/ 				Current location:
/ 				= player.current_location
/ 			%ul
/ 				Hometown:
/ 				= player.hometown

= render 'users/signin', resource_name: :player, resource: Player.new