
<section ng-app="App">
	<div class="charts" ng-controller="ChartController">
			<div class="chart__header">
	      <h2 class="chart__title" >Do we need title/section here?</h2>
	    </div>
	    <svg xmlns="http://www.w3.org/2000/svg" class="chart__content">
	      <path class="chart__line1" ng-attr-d="{{linePath1()}}"></path>
	      <path class="chart__line2" ng-attr-d="{{linePath2()}}"></path>
	      <circle class="chart__circle1" r="6" ng-repeat="p in points_1" ng-attr-cx="{{p.x}}" ng-attr-cy="{{p.y}}"></circle>
	      <circle class="chart__circle2" r="6" ng-repeat="p in points_2" ng-attr-cx="{{p.x}}" ng-attr-cy="{{p.y}}"></circle>
	    </svg>

	    <div class="pie">
	    	<p><%= @match.name_of_player(1) %></p>
	    	<p ng-bind-template="Points won on serve: {{p1ServePercentage}}%">Points won on serve</p>
	    	<pie data='pieData[0]' colors='colors1' ></pie>
	    </div>

	    <div class="pie">
	    	<p><%= @match.name_of_player(2) %></p>
	    	<p ng-bind-template="Points won on serve: {{p2ServePercentage}}%">Points won on serve</p>
	    	<pie data='pieData[1]' colors='colors2'></pie>
	    </div>
	</div>
</section>
