
<section ng-app="App">
	<div class="chart" ng-controller="LineChartController">
			<!-- <input type='number' ng-model="scale"> -->
	    <div class="chart__header">
	      <h2 class="chart__title">Game Progress</h2>
	      <span class="chart__icon">&#9787</span>
	    </div>
	    <svg xmlns="http://www.w3.org/2000/svg" class="chart__content">
	      <path class="chart__line1" ng-attr-d="{{linePath1()}}"></path>
	      <path class="chart__line2" ng-attr-d="{{linePath2()}}"></path>
	      <circle class="chart__circle1" r="3" ng-repeat="p in points_1" ng-attr-cx="{{p.x}}" ng-attr-cy="{{p.y}}"></circle>
	      <circle class="chart__circle2" r="3" ng-repeat="p in points_2" ng-attr-cx="{{p.x}}" ng-attr-cy="{{p.y}}"></circle>
	    </svg>
	</div>
</section>
