<div id="container" class='match' data-id="<%= @match.id %>" > 

	<section>

		<article id='p1-points'>

			<!-- <p> should be id='left-points' </p> -->
			<%= link_to "0", '', id: 'p1-increment' %>

		</article>

		<aside>

		</aside>

		<h3>

		</h3>

		<nav>


			<%= link_to "Back", '', id: 'p1-back' %>

		</nav>

	</section>


	<section>

		<aside>

		</aside>

		<h3>

		</h3>

		<article>

		</article>

		<nav>

		</nav>

	</section>


</div>




