%section.tabs
  %input#tab-1.tab-selector-1{checked: "checked", name: "radio-set", type: "radio"}/
  %label.tab-label-1{for: "tab-1"} Scores
  %input#tab-2.tab-selector-2{name: "radio-set", type: "radio"}/
  %label.tab-label-2{for: "tab-2"} Results
  %input#tab-3.tab-selector-3{name: "radio-set", type: "radio"}/
  %label.tab-label-3{for: "tab-3"} Fixtures
  .clear-shadow
  .content
    .content-1
      %p Some content
    .content-2
      %p Some content
    .content-3
      %p Some content