@import 'mixins';

.loginOverlay {
  display: none;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);

  &.active {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    display: block;
    opacity: 1;
  }
}

.formContainer.loginModal, .formContainer.registerModal  {
  position: fixed;
  left: 50%;
  top: 40%;
  visibility: hidden;
  opacity: 0;

  &.active {
    opacity: 1;
    @include flex;
    visibility: visible;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.signInPage .loginModal, .signUpPage .registerModal {
  opacity: 1;
  visibility: visible;

  .close {
    display: none;
  }
}

.formContainer {
  /*min-height: 370px;*/
  padding: 30px 0;
  width: 250px;
  background: #FFF;
  border-radius: 7px;
  @include flex;
  @include justify-content-center;
  @include align-content-center;
  @include align-items-center;
}

.close {
  display: block;
  position: relative;
  text-align: right;
  margin-top: -43px;
  margin-right: -43px;
}

h2.shadowCaps {
  text-shadow: -1px -1px 2px #CCC;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

i.facebookSignin {
  @include flex;
  padding-top: 20px;
  padding-bottom: 5px;
}

i.googleSignin {
  @include flex;
}

p.or {
  padding: 14px 0 14px 0;
  text-shadow: -1px -1px 2px #CCC;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

article.siteSignin {
  @include flex;
  @include flex-direction-column;
  @include align-items-center;
}

h3.field {
  padding-bottom: 8px;
}

button.submitSignUp {
  width: 80px;
  height: 34px;
  background-image: url('sign_up.svg');
  background-repeat: no-repeat;
  color: transparent;
  outline: none;
  margin: 0 auto;
  display: block;
  &:hover {
    background-image: url('sign_up_hover.svg');
  }
}

button.submitSignIn {
  width: 80px;
  height: 34px;
  background-image: url('login.svg');
  background-repeat: no-repeat;
  color: transparent;
  outline: none;
  margin: 0 auto;
  display: block;
}

button.submitSignIn:hover {
  background-image: url('login_hover.svg');
}

.fieldContainer label {
  display: block;
  width: 100%;
}

.field input:not([type=checkbox]) {
  width: 100%;
  box-sizing: border-box;
}

.field_with_errors input {
  border: solid 1px #fda63c;
}

.error {
  color: red;
  display: block;
}

.rememberMe {
  @include flex;
  @include align-items-center;
}