.chart_title{
  font-weight: normal;
  margin: 0;
}

.charts{
  font-family: "Helvetica Neue";
  width: 630px;
  border-radius: 8px;
  overflow: hidden;
  background: #b6e356;
}

.chart__header{
  background: #8eba45;
  color: #fff;
  padding: 4px 5px;
}

.chart__content{
  height: 350px;
}

.chart__line1{
  fill: none;
  stroke: black;
  stroke-width: 6px;
}

.chart__line2{
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
}

.chart__circle1{
  fill: black;
  radius: 5px;  
}

.chart__circle2{
  fill: #fff;
  radius: 5px;  
}

.chart__pie {
  stroke: hsl(0, 0%, 65%);
  stroke-width: 3px;
}

.pie {
  display: inline-block;
}
