.chart{
  font-family: "Helvetica Neue"
}

.chart_title{
  font-weight: normal;
  margin: 0;
}
.chart{
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.chart__header{
  background: #8eba45;
  color: #fff;
  padding: 4px 5px;
}

.chart__icon{
  position: absolute;
  font-size: 14px;
  right: 5px;
  top: 0;
}

.chart__content{
  height: 370px;
  background: #b6e356;
  /*background: hsl(220,50%,50%);*/
}

.chart__line1{
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.chart__line2{
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.chart__circle1{
  fill: black;
  radius: 5px;  
}

.chart__circle2{
  fill: #fff;
  radius: 5px;  
}

.chart__pie {
  fill: #fff;
  stroke: black;
  stroke-width: 3px;
}
