nav.social {
  display: flex;
  align-items: center;
}

.socialItem {
  padding: 12px;
}

.fb-like {
  padding-right: 10px;
}

nav.registerSignin {
  padding-left: 100px;
  display: flex;
}

nav.signOut {
  padding-left: 40px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.regItem {
  padding-right: 15px;
}

.matchHeader {
  // display: flex;
}

.restart {
  padding-right: 20px;
}

nav.footNav {
  display: flex;
}

.footLinks {
  padding-left: 20px;
}