.playerProfile {
  display: flex;
  align-items: center;

  span {
    padding-right: 25px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }

  img {
    height: 33px;
    width: 33px;
    border-radius: 50%;
  }
}