section.scoringApp {
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;

  .welcome {
    width: 280px;
    height: 60px;
    background-image: url('welcome.svg');
    background-repeat: no-repeat;
  }

  .scoringApp_form {

    section.paddleContainer {
      display: flex;
      margin-top: -100px;

      .paddleLeft {
        width: 460px;
        height: 520px;
        background-image: url('paddle_left.svg');
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: center;
        align-items: center;

        .fieldLeft {
          padding-left: 20px;
        }
      }

      .paddleRight {
        width: 460px;
        height: 520px;
        background-image: url('paddle_right.svg');
        color: #000;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: center;
        align-items: center;

        .fieldRight {
          padding-left: 20px;
        }
      }
    }
    .startMatch {
      display: flex;
      justify-content: center;
      margin-top: -50px;
      padding-bottom: 5%;
      // cursor: pointer;
    }
  }
}

#container.match {
  
  .player1, .player2 {
    width: 50%;
    height: 90%;
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding-top: 10%;
    cursor: pointer;
  }

  .player1 {
    background: red;
    float: left;

    #p1-name {

    }

    #p1-points {
      font-size: 300px;
    }

    #p1-games {

    }
  }

  .player2 {
    background: orange;
    float: right;

    #p2-name {

    }

    #p2-points {
      font-size: 300px;
    }

    #p2-games {

    }
  }

  .flipped .player1 {
    float: right;
  }

  .flipped .player2 {
    float: left;
  }

  nav {
    padding-top: 5%;
    padding-bottom: 5%;
  }

}