@import 'mixins';

section.scoringApp {
  padding-top: 3%;
  background: #ccc;
  @include flex;
  @include flex-direction-column;
  @include align-items-center;
  @include user-select-none;

  .welcome {
    width: 280px;
    height: 60px;
    background-image: url('welcome.svg');
    background-repeat: no-repeat;
  }

  .scoringApp_form {
    width: 100%;
    padding-bottom: 4%;

    section.paddleContainer {
      @include flex;

      .paddle {
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        @include flex;
        @include justify-content-center;
        position: relative;
        
        img { 
          width: 37%;
        }
        .fieldLeft {
          color: #FFF;
          position: absolute;
          left: 23%;
          top: 30%;
        }
        .fieldRight {
          position: absolute;
          left: 61%;
          top: 30%;
        }

        .fieldLeft, .fieldRight {
          @media(max-width: 768px) {
            input { display: block; }
          }
        }
      }
    }
    .startMatch {
      position: absolute;
      @include flex;
      @include justify-content-center;
      margin-top: -90px;
      width: 100%;

      button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}


#container.match {
  @include user-select-none;

  .player1, .player2 {
    width: 50%;
    height: 90%;
    color: #FFF;
    text-align: center;
    padding-top: 10%;
    cursor: pointer;
    position: relative;
  }

  .player1 {
    // background: #2c78cc;
    background: #6192F2;
    float: left;

    #p1-name {
      font-size: 4vw;
    }

    #p1-points {
      font-size: 25vw;
    }

    #p1-games {
      position: absolute;
      left: 80%;
      top: 7%;
      font-size: 6vw;
    }

    .p1-back a:hover {
      color: #5bd3ad;
    }
  }

  .player2 {
    background: #5bd3ad;
    float: right;

    #p2-name {
      font-size: 4vw;
    }

    #p2-points {
      font-size: 25vw;
    }

    #p2-games {
      position: absolute;
      left: 12.5%;
      top: 7%;
      font-size: 6vw;
    }

    .p2-back a:hover {
      color: #6192F2;
    }
  }

  &.flipped .player1 {
    float: right;
  }

  &.flipped .player2 {
    float: left;
  }

  &.flipped #p1-games {
    left: 12.5%;;
  }

  &.flipped #p2-games {
    left: 80%;
  }

  nav.p1-back, .p2-back {
    padding-top: 3%;
    padding-bottom: 7%;
    font-size: 3vw;
  }

}