body > section.mainWrapper {
	/*background-color: RGB(230,224,212);*/
	background-color: white
}

.mapControl {
	height: 100%;
	width: 100%;
}

.map_left_container {
	display: block;
	height: 100%;
	width: 500px;
	min-width: 400px;
	float: left;
}

.map_right_container {
	display: inline-block;
	height: 100%;
	margin-left: 50px;
	width: calc(100% - 550px);
}

.mainMap {
	display: left;
	display: inline-block;
	width: 500px;
}

.LocationContainer {

}

.locationDetection {
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

.userLocation, .userAddress {
	display: inline-block;
}

#club_location_finder {
	display: block;
}

#find_clubs_nearby {
	margin-right: 20px;
	line-height: 2;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding-left: 20px;
	padding-right: 20px;
}

.searchByLocation {
	display: block;
	float: left;
}

.byLocation {
	display: inline-block;
	margin-bottom: 20px;
}

.searchBoxContainer {
		display: inline-block;
		float: left;
		margin-bottom: 20px;
		margin-top: 10px;
		width: 100%;
}

.userAddress {
	font-style: bold;
}

#searchInput, #locationInput {
	line-height: 2;
	border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 20px;
}

#locationInput{
	margin-left: 20px;
}


.fullList {
	display: block;
}

#clubName {
	
	display: block;
}

.club {
	margin-bottom: 10px;
}