section.homeContent {
  width: 100%;
  height: 100%;

  // article.carousel {
  //   height: 300px;
  //   background: #ddd;
  //   display: -webkit-flex;
  //   display: flex;
  //   -webkit-justify-content: center;
  //   justify-content: center;
  //   -webkit-align-items: center;
  //   align-items: center;

  //     .jcarousel {
  //       overflow: hidden;

  //       ul {
  //         width: 20000em;
  //         display: -webkit-flex;
  //         display: flex;
  //         li {

  //         }
  //       }
  //     }
  // }

  .jcarousel {
    position: relative;
    overflow: hidden;
    transition: 1s opacity ease;
    opacity: 0;

    img { width: 100% }
  }

  /*
  This is the container of the carousel items.
  You must ensure that the position is relative or absolute and
  that the width is big enough to contain all items.
  */
  .jcarousel ul {
      width: 20000em;
      position: relative;

      /* Optional, required in this case since it's a <ul> element */
      list-style: none;
      margin: 0;
      padding: 0;
  }

  /*
  These are the item elements. jCarousel works best, if the items
  have a fixed width and height (but it's not required).
  */
  .jcarousel li {
      /* Required only for block elements like <li>'s */
      float: left;
  }

  article.container {
    padding-top: 20px;
    width: 100%;
    height: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;

    aside {
      height: 300px;
      background: #eee;
      text-align: center;
      line-height: 30px;
    }

    .playWhere {
      width: 320px;
    }

    .scoringApp {
      width: 320px;
    }

    .scores {
      width: 320px;
    }

  }
  
}