html, body {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  color: #000;
  font-size: 0.8em;
}

a {
  color: #000;
  text-shadow: -1px -1px 1px #CCC;
  text-decoration: none;
}

a:hover {
  color: #3B5998;
}

header, footer {
  width: 100%;
  height: 50px;
}

header, section.mainWrapper, footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

body > header {
  position: fixed;
  background: #FFF;
  z-index: 999;
}

body > section.mainWrapper {
  min-height: calc(100% - 100px);
  padding-top: 50px;
  background: #CCC;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  align-content: center;

  main {
    height: 100%;
    width: 84%;
    display: -webkit-flex;
    display: flex;  
  }
}

body > footer {
  background: #000;
  color: #FFF;
}

.copyright {
  padding-right: 20px;
}

.orangeText a {
  color: #FDA63C;
  text-shadow: none;
}