nav.social {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.socialItem {
  padding: 12px;
}

.fb-like {
  padding-right: 10px;
}

nav.registerSignin {
  padding-left: 100px;
  display: -webkit-flex;
  display: flex;
}

.regItem {
  padding-right: 15px;
}

nav.footNav {
  display: -webkit-flex;
  display: flex;
}

.footLinks {
  padding-left: 20px;
}