#container.match {
  
  .player1, .player2 {
    width: 50%;
    height: 90%;
    font-family: 'Muli', sans-serif;
    font-size: 50px;
    color: #FFF;
    text-align: center;
    padding-top: 10%;
  }

  .player1 {
    background: red;
    float: left;

    #p1-name {

    }

    #p1-points {
      font-size: 300px;
    }
  }

  .player2 {
    background: #fda63c;
    float: right;

    #p2-name {

    }

    #p2-points {
      font-size: 300px;
    }
  }

  .flipped .player1 {
    float: right;
  }

  .flipped .player2 {
    float: left;
  }

}